@model IEnumerable<MvcApiHospitalPractica.Models.BlobModel>

@{
    ViewData["Title"] = "Blobs";
    string containerName = ViewData["CONTAINER"].ToString();
}

<h1>Blobs del contenedor: @containerName</h1>

<form method="post" asp-action="UploadBlob" enctype="multipart/form-data">
    <input type="hidden" name="containerName" value="@containerName" />

    <label>Nombre para el archivo</label>
    <input type="text" name="blobname" />

    <label>Sube un archivo</label>
    <input type="file" name="file" />

    <button>
        Subir archivo
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contenedor)
                </td>
                <td>
                    @Html.ActionLink("DeleteBlob", "DeleteBlob", new { containerName, blobName = item.Name })
                </td>
            </tr>
        }
    </tbody>
</table>
