@model Hospital

<h1>Detalles hospital: @Model.Nombre</h1>

<h2>Código del hospital: @Model.HospitalCod</h2>
<h2>Telefono: @Model.Telefono</h2>
<h2>Direccion: @Model.Direccion</h2>
<h2>Número de camas: @Model.NumCamas</h2>

<a asp-controller="Hospitales" asp-action="Index">Volver</a>