@model IEnumerable<MvcCorePaginacionRegistros.Models.Empleado>

@{
    ViewData["Title"] = "EmpleadosProcedure";
}

<h1>EmpleadosProcedure</h1>

<hr />

@{
    int numEmp = (ViewData["NUMEMP"] == null ? 0 : (int)ViewData["NUMEMP"]);

    string oficio = "";
    int numeroRegistros = 0;

    if (Model != null)
    {
        oficio = (string)ViewData["OFICIO"];
        numeroRegistros = (int)ViewData["NUM_REGISTROS"];
    }
}

<form method="post">
    <label>Oficio</label>
    <input type="text" name="oficio" class="form-control" value="@oficio" />

    <input type="text" name="numeroEmpleados" value="@numEmp" />

    <button type="submit" class="btn btn-info">
        Paginar empleados
    </button>
</form>

@{
    if (Model != null)
    {
        <ul class="list-group list-group-horizontal">
            @{
                int numeroPagina = 1;


                for (int i = 1; i < numeroRegistros; i += 3)
                {
                    <li class="list-group-item">
                        <a asp-controller="Paginacion" asp-action="EmpleadosProcedure" asp-route-posicion="@i" asp-route-oficio="@oficio" asp-route-numeroEmpleados="@numEmp">
                            Página @numeroPagina
                        </a>
                    </li>
                    numeroPagina += 1;
                }
            }
        </ul>

        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Oficio)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Oficio)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}