@model IEnumerable<MvcCorePaginacionRegistros.Models.Empleado>

@{
    ViewData["Title"] = "EmpleadosProcedure";
}

<h1>EmpleadosProcedure</h1>

<hr />

<form method="get">
    <label>Oficio</label>
    <input type="text" name="oficio" class="form-control" />

    <button type="submit" class="btn btn-info">
        Paginar empleados
    </button>
</form>

@{
    if (Model != null)
    {
        <ul class="list-group list-group-horizontal">
            @{
                int numeroRegistros = (int)ViewData["NUM_REGISTROS"];

                int numeroPagina = 1;

                string oficio = (string)ViewData["OFICIO"];

                for (int i = 0; i < numeroRegistros; i += 2)
                {
                    <li class="list-group-item">
                        <a href="EmpleadosProcedure?posicion=@i&oficio=@oficio">Página @numeroPagina</a>
                    </li>
                    numeroPagina += 1;
                }
            }
        </ul>

        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmpNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Oficio)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Oficio)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}