@model Doctor

<h1>Detalles doctor: @Model.Apellido</h1>

<dl>
    <dt>Código Hospital</dt>
    <dd>@Model.HospitalCod</dd>

    <dt>Código Doctor</dt>
    <dd>@Model.DoctorNo</dd>

    <dt>Especialidad</dt>
    <dd>@Model.Especialdad</dd>

    <dt>Salario</dt>
    <dd>@Model.Salario</dd>
</dl>