@model Hospital

<a asp-controller="Hospitales" asp-action="Index" class="btn btn-info">🔙</a>

<h1>Detalles hospital: @Model.Nombre</h1>

<h2>Código Hospital: @Model.HospitalCod</h2>
<h2>Direccion: @Model.Direccion</h2>
<h2>Teléfono: @Model.Telefono</h2>
<h2>Camas: @Model.Camas</h2>