@model List<Hospital>

<table class="table">
    <thead>
        <tr>
            <th>Código Hospital</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Número de camas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Hospital hosp in Model)
            {
                <tr>
                    <td>@hosp.IdHospital</td>
                    <td>@hosp.Nombre</td>
                    <td>@hosp.Direccion</td>
                    <td>@hosp.Telefono</td>
                    <td>@hosp.Camas</td>
                    <td><a class="btn btn-outline-warning" asp-controller="Hospitales" asp-action="Details" asp-route-hospitalCod="@hosp.IdHospital">👁️‍🗨️</a></td>
                </tr>
            }
        }
    </tbody>
</table>