@model IEnumerable<MvcCoreSasStorage.Models.Alumno>

@{
    ViewData["Title"] = "FindAlumnosCursoAzure";
}

<h1>FindAlumnosCursoAzure</h1>

<form method="post">
    <label>Introduce un curso</label>
    <input name="curso" type="text" />

    <button class="btn btn-primary">Buscar</button>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdAlumno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAlumno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="color: red;">No se han encontrado alumnos</h1>
}
