@using ServiceReference2;
@model Cliente[]

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cliente cliente in Model)
        {
            <tr>
                <td>@cliente.IdCliente</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Direccion</td>
                <td><img src="@cliente.ImagenCliente" width="200" /></td>
                <td><a asp-controller="Clientes" asp-action="Details" asp-route-idCliente="@cliente.IdCliente">Detalles</a></td>
            </tr>
        }
    </tbody>
</table>
