@using MvcCoreSession.Helpers;

@{
    var data = Context.Session.GetString("persona");
    Persona persona = Context.Session.GetObject<Persona>("personaobject")!;
}

<h1>Menú Session</h1>
<h2 class="text-danger">@ViewData["NUMERO"]</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionSimple">Session Simple</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionPersona">Session Persona</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionPersonaJson">Session Json Persona</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionPersonaObject">Session Persona Object</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="ColeccionSessionPersona">Session Coleccion Persona</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="ColeccionSessionObject">Session Coleccion Persona Object</a>
    </li>
</ul>

<div class="text-center">
    <h1 class="display-4">Proyecto Session</h1>
    <p>Usuario: @Context.Session.GetString("usuario")</p>
    <p>Hora: @Context.Session.GetString("hora")</p>
    @{
        if (persona != null)
        {
            <p>
                Nombre: @persona.Nombre
                Edad: @persona.Edad
                Email: @persona.Email
            </p>
        }
    }
</div>
