@model IEnumerable<MvcCubosAWS.Models.Cubo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>IdCubo</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nombre</td>
            <td>@item.Marca</td>
            <td>
                <img src="@item.Imagen" width="150" />
            </td>
            <td>@item.Precio</td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
