@model List<Doctor>

@{
    var hospitales = (List<Hospital>)ViewData["HOSPITALES"]!;
}

<form method="post">
    <label>Buscar por hospital</label>
    <select name="hospital">
        @{
            foreach (var hospital in hospitales)
            {
                <option value="@hospital.IdHospital">@hospital.HospitalName</option>
            }
        }
    </select>

    <button>
        Buscar
    </button>
</form>

<form method="get">
    <button>Volver a cargar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>HOSPITAL COD</th>
            <th>DOCTOR COD</th>
            <th>APELLIDO</th>
            <th>ESPECIALIDAD</th>
            <th>SALARIO</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var doctor in Model)
            {
                <tr>
                    <td>@doctor.HospitalCod</td>
                    <td>@doctor.DoctorCod</td>
                    <td>@doctor.Apellido</td>
                    <td>@doctor.Especialidad</td>
                    <td>@doctor.Salario</td>
                </tr>
            }
        }
    </tbody>
</table>